<div id="<%= dom_id friend %>">
  


  


    <strong>First name:</strong>
    <%= friend.first_name %>
  

  
    <strong>&nbsp &nbsp Last name:</strong>
    <%= friend.last_name %>
  

  
    <strong>&nbsp &nbspEmail:</strong>
    <%= friend.email %>
  

  
    <strong>&nbsp &nbspPhone:</strong>
    <%= friend.phone %>
  

  
    <strong>&nbsp &nbspTwitter:</strong>
    <%= friend.twitter %>
  
</div>
