<p style="color: green"><%= notice %></p>

<%= render @friend %>
<br>
<div class="btn-group" role="group" aria-label="Basic outlined example">
  <%= link_to "Edit this friend", edit_friend_path(@friend), class:"btn btn-outline-secondary" %> 
  <%= button_to "Destroy this friend", @friend, method: :delete, class:"btn btn-outline-secondary" %>
  <%= link_to "Back to friends", friends_path, class:"btn btn-outline-secondary" %>
</div>

